@import 'mixins';
@import 'nav';
@import 'title';
@import 'toggles';

html,
body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: 'K2D', sans-serif;
}

section {
	border-bottom: 1px solid #222;
}