@import 'mixins';

ul {
	list-style: none;
}

li {
	display: block;
	transition-duration: 0.5s;
}

li:hover {
	cursor: pointer;
}

ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 1rem;
	left: 0;
	display: none;
}

ul li:hover>ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

ul li ul li {
	clear: both;
	width: 100%;
	height: 2.5rem;
	border-top: 1px solid white;
}

.dropdown {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #666;
	top: 4rem; // Depends on height of navbar

	li:hover {
		background-color: #444;
		transition: all 0.5s ease;
	}

	a {
		display: block;
		height: 100%;
		width: 100%;
		text-decoration: none;
		color: white;
		@include flex-center;
		justify-content: center;
	}

	p {
		margin-left: 0.3rem;
		font-size: 1rem;
		font-weight: 100;
	}
}