// Styles for generic nav bar
@import 'mixins';
@import 'nav-dropdowns';
@import 'sidebar';

.main-nav {
	width: 100%;
	height: 4em;
	background-color: #4daeb4;
	color: white;
	position: relative;
	@include flex-center;

	@include phone {
		width: 100%;
		height: 25vw;
	}

	.nav-list {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		@include flex-center;
		justify-content: flex-start;

		.nav-item {
			width: 8rem;
			height: 100%;
			font-size: 1.5em;
			@include flex-center;
			justify-content: center;
			position: relative;

			&:hover,
			&:focus-within {
				background-color: #00cabe;
			}

			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				border-left: 2px solid white;
			}

			&:last-child {
				border-right: 2px solid white;
			}

			.hamburger-container {
				display: inline-block;
				cursor: pointer;
				width: 100%;

				.bar1,
				.bar2,
				.bar3 {
					width: 2rem;
					height: 0.3rem;
					background-color: white;
					margin: 0.4rem auto;
					transition: 0.4s;
				}
			}
		}
	}
}

.animate-0 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.animate-1 {
	opacity: 0;
}

.animate-2 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}