// Styles defining various types of sliders
.toggle-container {
	height: 10rem;

	header {
		height: 4rem;
	}

	h2 {
		float: right;
		margin-right: 2rem;
		font-family: 'Old Standard TT', serif;
		font-weight: 200;
	}

	.toggles {
		height: 6rem;
		display: flex;
		justify-content: space-evenly;
		clear: both; // Gets rid of right margin from previous floated element

		.toggle {
			width: 10rem;

			/* The switch - the box around the slider */
			.switch {
				position: relative;
				display: inline-block;
				width: 4rem;
				height: 2rem;

				/* The slider */
				.slider {
					position: absolute;
					cursor: pointer;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: #ccc;
					-webkit-transition: .3s;
					transition: .3s;

					&:before {
						position: absolute;
						content: "";
						height: 1.5rem;
						width: 1.5rem;
						left: 0.25rem;
						bottom: 0.25rem;
						background-color: white;
						-webkit-transition: .3s;
						transition: .3s;
					}
				}

				/* Rounded sliders */
				.round {
					border-radius: 2rem;
				}

				.round:before {
					border-radius: 50%;
				}

				/* Hide default HTML checkbox */
				input {
					display: none;

					&:checked+.slider {
						background-color: #4daeb4;
					}

					&:focus+.slider {
						box-shadow: 0 0 1px #4daeb4;
					}

					&:checked+.slider:before {
						-webkit-transform: translateX(2rem);
						-ms-transform: translateX(2rem);
						transform: translateX(2rem);
					}
				}
			}
		}
	}
}